/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
	Victor Isaac - Portfolio 
	Author : Tavonline
	Copyright 2022

/* Table of Content
==================================================
	
	1. Body and Core Css
	2. Home Section


/*------------------------ 1 Body and Core Css ------------------------*/

@import url(assets.css);
@import url(color.css);
@import url(normalize.css);

body {
  font-family: "PT Mono",Courier New,monospace;
  overflow: hidden;
}

html {
  height: 100%;
  font-size: 18px;
}

body #loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #000;
  z-index: 999999;
  position: fixed;
}
body #loader .loading {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body #loader .loading .profile-image img {
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  position: relative;
  width: 85px;
  margin-top: 7px;
  margin-left: 6.4px;
}

body #loader .loading .profile-image {
  position: relative;
  width: 100px;
  height: 100px;
}

body #loader .loading .profile-image svg {
  left: 0;
  top: 0;
}

body #loader .loading .profile-image svg .circle {
  stroke-dasharray: 301.59px 301.59px;
  stroke-dashoffset: 301.59px;
}

body #loader .loading .profile-image svg .circletwo {
  stroke-dasharray: 301.59px 301.59px;
  stroke-dashoffset: 0;
  stroke: rgba(255, 255, 255, 0.164);
}

body #loader .loading .txt {
  opacity: 0;
}

body #loader .loading .progress {
  opacity: 0;
  height: 4px;
  width: 200px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  position: relative;
}

body #loader .loading .progress .bar-loading {
  content: "";
  height: 4px;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

#loader .loading .txt {
  font-weight: 600;
  font-size: 20px;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}

.bg-image {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

#page-scroll {
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  overflow: hidden;
}

.header-is-active .page-wrapper:before,
.header-is-active .bg-image:after {
  opacity: 1;
}

.page-wrapper:before {
  pointer-events: none;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  opacity: 0;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  z-index: 2;
}

.bg-image:after {
  pointer-events: none;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.white-version .page-wrapper {
  background: #eee;
}

.white-version h1.hero-big {
  color: #000;
}

.white-version p {
  color: #000;
}

.page-wrapper {
  opacity: 1;
  position: relative;
  min-height: 50vh;
  z-index: 4;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  margin-top: 60px;
  padding: 45px;
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.without-wrapper .page-wrapper {
  padding: 0;
}

.without-wrapper header {
  right: 0;
}

.overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.dark-version,
.dark-version .page-wrapper {
  background: rgb(0, 0, 0);
}

@-moz-document url-prefix() {
  .page-wrapper {
    background: rgba(0, 0, 0, 0.8);
  }
}

.container {
  box-sizing: border-box;
}

.outer {
  height: 100%;
  width: 100%;
  display: table;
}

.inner {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.yoket .page-wrapper {
  opacity: 0;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.spacer-10 {
  height: 10px;
  width: 100%;
}

.spacer-15 {
  height: 15px;
  width: 100%;
}

.spacer-30 {
  height: 30px;
  width: 100%;
}

.spacer-45 {
  height: 45px;
  width: 100%;
}

.spacer-60 {
  height: 60px;
  width: 100%;
}

.spacer-75 {
  height: 75px;
  width: 100%;
}

.spacer-90 {
  height: 90px;
  width: 100%;
}

.spacer-120 {
  height: 120px;
  width: 100%;
}

/*------------------------------------------------------------------
# Typography
-------------------------------------------------------------------**/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

h1.hero-big {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
  line-height: 65px;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
  line-height: 50px;
  font-weight: 600;
}

h3 {
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: 600;
}

h5 {
  font-size: 1.15rem;
  line-height: 35px;
  font-weight: 600;
}

h6 {
  font-size: 0.9rem;
  line-height: 2rem;
  margin: 0;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 2.1rem;
  color: #ffffff;
  opacity: 0.7;
}

p.big-p {
  font-size: 21px;
  line-height: 35px;
}

p.little-p {
  font-size: 0.853rem;
  line-height: 1.4rem;
}

.mini-text {
  font-size: 14px;
}

.big-title {
  font-size: 3.5rem;
  line-height: 3.7rem;
  font-weight: 600;
}

/*------------------------------------------------------------------
# Header
-------------------------------------------------------------------**/
header {
  right: 40px;
  top: 35px;
  position: absolute;
  float: left;
  pointer-events: none;
  z-index: 10;
}

header nav {
  float: right;
  clear: right;
  margin-top: 20px;
  position: relative;
  z-index: 6;
  pointer-events: all;
}

header nav ul li {
  text-align: right;
  line-height: 2rem;
  opacity: 0;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

header nav ul li a.active {
  pointer-events: all;
  text-decoration: line-through;
}

.hamburger {
  pointer-events: all;
  margin-bottom: 30px;
  float: right;
  z-index: 6;
  position: relative;
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  margin: 0px;
  transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
  padding: 19px 15px 12px 7px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
  -ms-transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
  -o-transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
}

.hamburger-box {
  width: 30px;
  height: 20px;
  display: block;
  margin: 0px auto;
  position: relative;
}

.hamburger--elastic .hamburger-inner {
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 20px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  right: 0;
}
.hamburger-inner {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px;
  z-index: 999;
  transition: all 0.25s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
}

.hamburger--elastic .hamburger-inner::before {
  top: 6px;
  transition: opacity 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transition: opacity 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -moz-transition: opacity 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -ms-transition: opacity 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: opacity 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.hamburger-inner::before {
  width: 24px;
  top: 0px;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger--elastic .hamburger-inner::after {
  top: 12px;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.hamburger-inner::after {
  width: 20px;
  bottom: 0px;
}

.header-is-active .hamburger--elastic .hamburger-inner {
  transform: translate(-1px, 7px) rotate(-135deg);
  -webkit-transform: translate(-1px, 7px) rotate(-135deg);
  -moz-transform: translate(-1px, 7px) rotate(-135deg);
  -ms-transform: translate(-1px, 7px) rotate(-135deg);
  -o-transform: translate(-1px, 7px) rotate(-135deg);
}
.header-is-active .hamburger--elastic .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.header-is-active .hamburger--elastic .hamburger-inner::after {
  transform: translateY(-12px) rotate(-270deg);
  -webkit-transform: translateY(-12px) rotate(-270deg);
  -moz-transform: translateY(-12px) rotate(-270deg);
  -ms-transform: translateY(-12px) rotate(-270deg);
  -o-transform: translateY(-12px) rotate(-270deg);
}
.header-is-active .hamburger--elastic .hamburger-inner {
  width: 20px;
}

/*------------------------------------------------------------------
# Hero Section
-------------------------------------------------------------------**/

.profile-pic {
  position: relative;
}

.profile-pic .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 15px 157px 15px;
  -webkit-border-radius: 15px 157px 15px;
  -moz-border-radius: 15px 157px 15px;
  -ms-border-radius: 15px 157px 15px;
  -o-border-radius: 15px 157px 15px;
}

.profile-pic .image img {
  visibility: hidden;
  width: 100%;
}

.hero .right-content {
  padding-top: 60px;
  padding-left: 30px;
}

.hero .hi {
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
}

.hero .hi span {
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

hr {
  opacity: 0.2;
}

.profile-info {
  margin-top: 45px;
}

.profile-info li {
  margin-bottom: 45px;
  font-size: 1rem;
  color: #fff;
}

.profile-info li a {
  color: #fff;
  text-decoration: none;
}

.profile-info li i {
  margin-right: 10px;
  float: left;
}

.profile-info li span {
  float: left;
}

.section-title {
  width: 100%;
}

.section-title .zigzag {
  position: relative;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3.7;
}

.section-title .zigzag svg {
  width: 42px;
  margin-left: 7px;
}

.section-title hr.left {
  position: absolute;
  left: -45px;
  width: 40px;
  top: 5px;
}

.section-title hr.right {
  position: absolute;
  width: calc(100% - 13px);
  top: 5px;
  right: -46px;
}

.section-title h5 {
  padding-left: 5px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.page-caption h5 {
  font-size: 27px;
  line-height: 52px;
}

.page-caption .zigzag {
  stroke-width: 5;
}

.profile-pic .social-links {
  background: #fff;
  padding: 20px 30px;
  display: inline-block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: absolute;
  bottom: 0;
  left: 30px;
}

.profile-pic .social-links ul li {
  float: left;
}

.profile-pic .social-links ul li:last-child a {
  margin-right: 0;
}

.profile-pic .social-links ul li a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  margin-right: 15px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.profile-pic .social-links ul li a:hover {
  opacity: 0.6;
}

.service-item {
  margin-bottom: 60px;
  width: 100%;
  display: inline-block;
}

.service-item i {
  color: #fff;
  font-size: 3rem;
  float: left;
}

.service-item i.flaticon-mobile-app {
  font-size: 3.5rem;
}

.service-item h5 {
  color: #fff;
  float: left;
  font-size: 0.9rem;
  font-weight: 500;
  padding-top: 5px;
  line-height: 1.5rem;
  margin-left: 45px;
}

/*------------------------------------------------------------------
# Testimonial
-------------------------------------------------------------------**/

.testimonial-carousel {
  width: 100%;
  height: 100%;
}

.testimonial-carousel .swiper-wrapper {
  cursor: grab;
}

.testimonial-carousel .swiper-slide {
  text-align: left;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.testimonial-carousel .left i {
  font-size: 40px;
  padding-right: 30px;
}

.testimonial-carousel .author-image {
  display: block;
  width: 50px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  float: left;
}

.testimonial-carousel .comment-author {
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  margin-top: 15px;
}

.testimonial-carousel .author-info {
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}

.testimonial-carousel .author-info h4 {
  font-size: 0.9rem;
  line-height: 20px;
  font-weight: 500;
}

.testimonial-carousel .author-info span {
  font-size: 0.7rem;
  color: #fff;
  opacity: 0.6;
}

.testimonial-carousel .swiper-pagination-bullets {
  position: relative;
  margin-top: 75px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 7px !important;
  background: #fff;
}

.client-slider {
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
}

.client-slider li {
  width: 300px !important;
}

footer {
  margin-top: 5px;
  margin-bottom: 30px;
}

footer .footer-inner {
  background: #000;
  padding: 30px 30px 28px 30px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -ms-border-radius: 0px 0px 15px 15px;
  -o-border-radius: 0px 0px 15px 15px;
}

footer p {
  float: left;
  font-size: 0.7rem;
  line-height: 1rem;
}

footer .social {
  float: right;
}

footer .social li {
  float: left;
  margin-left: 30px;
}

footer .social li a {
  color: #fff;
  font-size: 0.7rem;
  line-height: 1rem;
  text-decoration: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.timeline-caption-outer {
  text-align: center;
}

.timeline-caption-outer .timeline-caption {
  background: #fff;
  padding: 17px 24px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.timeline-caption-outer .timeline-caption span {
  margin-left: 3px;
}

.timeline .timeline-item {
  position: relative;
  padding: 0 40px;
  margin-top: -60px;
}

.timeline .timeline-item:first-child {
  margin-top: 0px;
  padding-top: 75px;
}

.dark-version .timeline .timeline-outer {
  background: rgba(255, 255, 255, 0.2);
}

.timeline .timeline-outer {
  background: rgba(255, 255, 255, 0.15);
  padding: 45px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.timeline .timeline-item h5 {
  margin: 3px 0 10px;
}

/* timeline arrow  */

.timeline-outer:after {
  display: block;
  content: "";
  position: absolute;
  top: 30%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.15);
}

.timeline .timeline-item:nth-child(odd) .timeline-outer:after {
  right: 24px;
}

.timeline .timeline-item:nth-child(even) .timeline-outer:after {
  left: 24px;
  border-width: 8px 8px;
  border-color: transparent rgba(255, 255, 255, 0.15) transparent transparent;
}

/* timeline line  */

.timeline .timeline-item:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d1ed5d;
  top: 0;
}

.timeline .timeline-item:nth-child(odd):after {
  right: 0;
}

.timeline .timeline-item:nth-child(even):after {
  left: -1px;
}

.timeline .timeline-item:last-child:after {
  height: 32%;
}

/* timeline dots  */

.timeline .timeline-item:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background: #d0ed5d;
  border-radius: 50px;
  top: 31%;
}

.timeline .timeline-item:nth-child(odd):before {
  right: -4.5px;
}

.timeline .timeline-item:nth-child(even):before {
  left: -6px;
}

/* Skills  */

.pie-chart {
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 26px;
  text-align: center;
}

.percent {
  display: inline-block;
  font-size: 18px;
  line-height: 156px;
  z-index: 2;
  color: #fff;
  font-weight: 800;
}

.percent:after {
  content: "%";
  margin-left: 0.1em;
  font-size: 0.8em;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.skills-category {
  font-size: 1.3rem;
  opacity: 0.3;
  letter-spacing: 9px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/* Skills */

.skill-list li {
  list-style: none;
}

.skill-list .bar-info {
  display: inline-block;
  width: 100%;
}

.skill-list h3 {
  font-size: 14px;
  float: left;
  line-height: 26px;
}

.skill-list .bar-info span {
  float: right;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}

.skill-list .progress {
  margin: 10px 0 20px;
  display: block;
  height: 5px;
  position: relative;
  width: 100%;
  overflow: visible;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #dfdfdf;
  box-shadow: 0;
}

.skill-list .progress .percentage {
  border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  bottom: 0;
  position: absolute;
  top: 0;
}

.portfolio-item img {
  width: 100%;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  display: flex;
}

.portfolio-item figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.404);
  color: #fff;
  opacity: 0;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.portfolio-item figcaption span {
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.8;
  display: inline-block;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}

.portfolio-item figcaption .title {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 5px;
  font-weight: 500;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}

.portfolio-item figcaption .title,
.portfolio-item figcaption span {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.grid-item:hover .portfolio-item > figcaption {
  opacity: 1;
}

.grid-item:hover .portfolio-item > figcaption span,
.grid-item:hover .portfolio-item > figcaption .title {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.grid-item {
  margin-bottom: 30px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.item-1{
  grid-column: 1 / span 2;
}

.item-3{
  grid-column: 2;
  grid-row: 2 / span 2;
}

.portfolio_filter {
  margin: 0 auto;
  display: inline-block;
}

.portfolio_filter ul li {
  float: left;
  list-style: none;
  margin-right: 45px;
}
.portfolio_filter ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

/* Single Work */

.stroke-title {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.work-hero img {
  width: 100%;
}

.work-hero .big-title {
  margin-bottom: 14px;
}

.categories ul {
  padding-top: 15px;
}

.categories ul li {
  color: rgba(255, 255, 255, 0.801);
  list-style: none;
  font-size: 0.9rem;
  line-height: 38px;
  font-weight: 400;
}

.categories ul li.client {
  margin-bottom: 15px;
}

.categories ul li span {
  color: #fff;
  font-weight: 500;
}

.categories ul li a {
  font-weight: 500;
  margin-top: 15px;
  display: inline-block;
  opacity: 1;
  text-decoration: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.categories ul li a:hover {
  color: #fff;
}

.lightbox-gallery .image {
  margin-bottom: 60px;
  display: grid;
  overflow: hidden;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
}

.lightbox-gallery .col.lg-12 .image {
  margin-bottom: 30px;
}

.lightbox-gallery .image img {
  width: 100%;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
}

.lightbox:hover img {
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.simple-image img {
  width: 100%;
  display: block;
}

.work-nav {
  text-align: center;
  width: 100%;
}

.next-link {
  text-decoration: none;
  overflow: hidden;
  height: 30px;
  display: inline-block;
  margin: 60px 0;
}

.next-link .nav-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.next-link .next-title {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
}

.next-link .next-title,
.next-link .nav-title {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}

.next-link:hover .next-title,
.next-link:hover .nav-title {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.promo_text {
  font-size: 2.2rem;
  line-height: 3rem;
  color: #fff;
  text-align: center;
}

.work-carousel {
  width: 100%;
  height: 100%;
}

.work-carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.work-carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-carousel .swiper-horizontal > .swiper-pagination-bullets,
.work-carousel .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  margin-top: 45px;
}

.work-video {
  position: relative;
  height: 46vh;
}

.video-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}

.grid-item .video-caption span {
  display: block;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.8);
}

.grid-item .video-caption .title {
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}

.grid-item .video-caption span,
.grid-item .video-caption .title {
  opacity: 0;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.grid-item:hover .video-caption span,
.grid-item:hover .video-caption .title {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  opacity: 1;
}

.video-caption {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
}

.video-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.video-wrapper.four-three {
  padding-top: 66.66%;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
  .video-wrapper > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-wrapper > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
  .video-wrapper > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.embed-video {
  max-height: 100% !important;
  max-width: 100% !important;
}

.embed-video .embed-aspect-ratio:before {
  content: "";
  width: 100%;
  height: 90%;
  z-index: 10;
  position: absolute;
}

.embed-aspect-ratio {
  padding-bottom: 56.25%;
  position: relative;
  height: 0px;
}

.embed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-item .video-wrapper:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f04b";
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 82px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: calc(50% - 40px);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.grid-item:hover .video-wrapper:after {
  opacity: 0;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.work_info_list .li {
  color: #fff;
}

.work_info_list .li {
  color: #fff;
  font-size: 14px;
  list-style: none;
  border-bottom: rgba(255, 255, 255, 0.25) solid 1px;
  padding: 20px 0 10px 10px;
}

.work_info_list .li:first-child {
  padding: 0px 0 15px 10px;
}

.work_info_list .li:last-child {
  border: 0;
}

.work_info_list .li a {
  color: #fff;
  font-size: 16px;
}

.work_info_list .li span {
  opacity: 0.6;
  display: block;
  padding-bottom: 10px;
}

.work_info_list h3 {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

.work_info .work_description .category {
  color: rgba(255, 255, 255, 0.507);
  font-size: 16px;
  display: block;
}

.work_info .work_description .title {
  color: #fff;
  font-size: 2rem;
  line-height: 46px;
  font-weight: 500;
  padding: 10px 0 15px;
}

.work_info .work_description .text {
  color: rgba(255, 255, 255, 0.61);
  font-size: 16px;
  line-height: 32px;
}

.work-navigation {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  text-align: center;
}

.work-navigation svg {
  fill: #fff;
  cursor: pointer;
  margin-top: 15px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.work-navigation svg:hover {
  opacity: 0.5;
}

.emoji-btn {
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.emoji-btn span {
  width: 50px;
  height: 50px;
  line-height: 51.5px;
  color: #fff;
  font-size: 13px;
  background: rgb(255 255 255 / 16%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all ease 0.3s 0.3s;
  -webkit-transition: all ease 0.3s 0.3s;
  -moz-transition: all ease 0.3s 0.3s;
  -ms-transition: all ease 0.3s 0.3s;
  -o-transition: all ease 0.3s 0.3s;
}

.emoji-button {
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  height: 52px;
  display: inline-block;
  line-height: 52px;
  padding: 0 25px;
  font-size: 15px;
  font-weight: 500;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.emoji-button span {
  float: left;
  line-height: 54px;
  margin-left: 7px;
}

.emoji-button i {
  float: left;
  font-size: 20px;
  line-height: 55px;
}

.work-navigation .emoji-btn.next {
  float: right;
}

.work-navigation .emoji-btn.prev {
  float: left;
}

.work-navigation .emoji-btn.prev .text,
.work-navigation .emoji-btn.prev span {
  float: left;
}

.work-navigation .emoji-btn.prev .next,
.work-navigation .emoji-btn.next span {
  float: right;
}

.work-navigation .emoji-btn .text {
  background: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  position: absolute;
  min-width: 97px;
  height: 20px;
  line-height: 17.5px;
  display: inline-block;
  z-index: -1;
  transition: all ease 0.3s 0.1s;
  -webkit-transition: all ease 0.3s 0.1s;
  -moz-transition: all ease 0.3s 0.1s;
  -ms-transition: all ease 0.3s 0.1s;
  -o-transition: all ease 0.3s 0.1s;
}

.work-navigation .emoji-btn.prev .text {
  left: 0;
  padding: 0px 15px 0px 43px;
  line-height: 51px;
  height: 50px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.work-navigation .emoji-btn.next .text {
  right: 0;
  padding: 0px 43px 0px 15px;
  line-height: 51px;
  height: 50px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.work-navigation .emoji-btn:hover span {
  background: #fff;
  color: #000;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.work-navigation .emoji-btn:hover > .text {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.cases {
  opacity: 0.7;
}

.cases:hover {
  opacity: 1;
}

/*------------------------ 2. Blog Grid ------------------------*/

.blog-grid-image img {
  width: 100%;
  display: block;
}

.data-scroll {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 90vh;
}

.blog-grid {
  margin-bottom: 30px;
}

.blog-grid a {
  text-decoration: none;
  display: inline-block;
}

.blog-grid .entry-title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0;
  padding: 0 0 0;
  word-break: break-word;
}

.lightsite .entry-title {
  color: #fff;
}

.blog-grid .categories a {
  margin-top: 9px;
  margin-bottom: 9px;
  line-height: 8px;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.blog-grid .author {
  border-bottom: 1px dotted #fff;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  margin-right: 5px;
  line-height: 14px;
}

.blog-grid .blog-date {
  font-size: 11px;
  text-transform: uppercase;
  float: left;
  line-height: 14px;
  color: #fff;
}

.blog-grid .blog-date:before {
  content: "/";
  font-size: 9px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0;
}

.blog-grid .categories a:after {
  content: "/";
  font-size: 9px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.7;
}

.blog-grid .categories a:last-child:after,
.blog-grid .metas a:last-child:after {
  display: none;
}

.blog-grid .bottom-content {
  padding: 15px 15px 0;
}

.blog-grid.empty-blog .bottom-content {
  padding: 0;
}

.blog-grid .blog-grid-image {
  display: inline-block;
  position: relative;
  transition: all ease 0.6s;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
}

.blog-grid .blog-grid-image:hover {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

.blog-grid .metas {
  padding-top: 10px;
  width: 100%;
  display: inline-block;
}

.blog-grid .metas .blog-date,
.blog-grid .metas .author,
.categories a span {
  opacity: 0.7;
}

.blog-grid .metas .author {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.categories a span {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.blog-grid .metas .author:hover,
.categories a:hover span {
  opacity: 1;
}

.sticky .empty-blog {
  outline: solid 4px #fff;
  outline-offset: -4px;
}

.empty-blog {
  background: rgba(255, 255, 255, 0.06);
  padding: 60px 35px 60px;
}

.empty-blog .metas {
  border-top: 2px #fff solid;
  padding-top: 20px;
  width: 100%;
  display: inline-block;
  margin-top: 13px;
}

/* Single Blog */

.single-blog {
  padding-bottom: 90px;
}

.single-blog .blog-date {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  float: left;
  line-height: 28px;
  color: #fff;
}

.single-blog .single-post-metas {
  display: inline-block;
  margin-bottom: 15px;
}

.single-blog .single-post-metas .blog-date:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: #fff;
  vertical-align: middle;
  margin: 0 10px;
}

.single-blog .single-post-metas .categories {
  display: inline-block;
}

.single-blog .single-post-metas .categories a {
  color: #404040;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: uppercase;
  margin-right: 10px;
  float: left;
  color: #fff;
}

.single-blog .about-image img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: table;
}

blockquote {
  margin: 15px 0;
}

blockquote p {
  border-left: 4px solid #e5e5e5;
  padding-left: 15px;
  margin: 30px 0;
  font-weight: 600;
  font-size: 20px i !important;
  line-height: 34px !important;
}

.tags {
  display: inline-block;
  width: 100%;
}

.tags i {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: left;
  margin-right: 14px;
  line-height: 27px;
  color: #fff;
}

.tags ul li {
  float: left;
  list-style: none;
  margin-bottom: 15px;
}

.tags ul li a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
  font-size: 0.74rem;
  background: #fff;
  padding: 4px 11px;
  border-radius: 3px;
  display: inline-block;
  transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
}

.inp {
  background: none;
  border: none;
  position: relative;
  width: 100%;
  border-bottom: 1px rgba(255, 255, 255, 0.336) solid;
  outline: 0;
  color: #fff;
  padding: 15px 5px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.inp::placeholder {
  color: #fff;
}

.inp:focus {
  transition: all ease-in-out 0.3s;
  background: none;
  border: none;
  position: relative;
  width: 100%;
  border-bottom: 1px rgb(255, 255, 255) solid;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

textarea.inp {
  font-family: "Poppins", sans-serif;
}

form .contact-bar {
  margin-bottom: 15px;
}

form .site-btn {
  margin-top: 20px;
}

.site-btn {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background: #fff;
  border: 0;
  padding: 8px 25px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.underline-title {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  letter-spacing: -1px;
  line-height: 30px;
}

.underline-title:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
}

/* Contact  */
.contact-info {
  margin-bottom: 60px;
}

.contact-info a {
  font-size: 1rem;
  line-height: 38px;
  color: #ffffff;
  text-decoration: none;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.contact-info p {
  opacity: 1;
}

.contact-info .info-title {
  margin-bottom: 20px;
  opacity: 0.7;
}
.error_message {
  text-align: left;
  font-size: 13px;
  color: #e93735;
  font-weight: bold;
}

#success_page {
  text-align: left;
}

#success_page h2 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(13, 206, 13);
  margin-bottom: 7px;
}
.map {
  display: block;
  height: 62vh;
  position: relative;
  width: 100%;
}

/* .map iframe{
	width: 100%;
	height: 450px;
} */

.contact-info.social a {
  margin-right: 15px;
}

/*------------------------ Animations ------------------------*/

.scroll-animation-on .classic-animation {
  opacity: 0;
  transform: translateY(150px);
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
}

.scroll-animation-on .clip-animation {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.scroll-animation-on .clip-animation.from-left {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.scroll-animation-on .clip-animation.from-top {
  clip-path: polygon(-2% 0%, 100% 0%, 105% 0%, 0% 0%);
  -webkit-clip-path: polygon(-2% 0%, 100% 0%, 105% 0%, 0% 0%);
}

.scroll-animation-on .clip-animation.from-bottom {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.scroll-animation-on .scale-animation {
  opacity: 0;
  transform: scaleY(1.4) translateY(200px);
  -webkit-transform: scaleY(1.4) translateY(200px);
  -moz-transform: scaleY(1.4) translateY(200px);
  -ms-transform: scaleY(1.4) translateY(200px);
  -o-transform: scaleY(1.4) translateY(200px);
}

/*------------------------ Responsive ------------------------*/

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    max-width: initial;
  }

  .page-wrapper {
    margin-top: 45px !important;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-item {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 16px;
  }

  h1.hero-big {
    font-size: 2rem;
    line-height: 3rem;
  }

  .page-wrapper {
    padding: 30px 20px;
    margin-top: 30px !important;
  }

  header {
    top: 30px;
    right: 30px;
  }

  .spacer-45 {
    height: 30px;
  }

  .profile-pic .image {
    margin-top: 30px;
  }

  .client-slider li {
    width: 250px !important;
  }

  .timeline .timeline-outer {
    padding: 30px;
  }

  .percent {
    font-size: 17px;
    line-height: 106px;
    font-weight: 500;
  }

  .chart {
    width: 100px;
    height: 100px;
  }

  .skills-category {
    letter-spacing: 5px;
  }

  .big-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .map {
    margin-top: 30px;
  }
  .promo_text {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
    text-align: center;
  }

  .work-hero .big-title {
    margin-bottom: 0px;
  }

  .page-wrapper {
    padding: 20px;
  }

  .big-title {
    font-size: 2rem;
  }

  footer .social {
    float: none;
    margin: 0 auto;
    display: table;
  }

  footer .copyright {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
  }

  footer .copyright p {
    float: none;
  }

  footer .social li {
    margin-left: 15px;
    margin-right: 15px;
  }

  .chart {
    margin-bottom: 5px;
  }

  .pie-chart:nth-child(1),
  .pie-chart:nth-child(2) {
    margin-bottom: 45px;
  }

  .skill-list {
    margin-bottom: 70px;
  }

  .timeline .timeline-item {
    margin-top: 30px;
  }

  .timeline .timeline-item:before,
  .timeline .timeline-item::after,
  .timeline-outer:after {
    display: none;
  }

  .portfolio_filter ul li {
    margin-top: 24px;
  }

  .work_info_list {
    margin-bottom: 60px;
  }

  .work_info_list .li {
    padding: 20px 0 10px 0px !important;
  }

  .spacer-60 {
    height: 30px;
    width: 100%;
  }

  .work_info .work_description .title {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

@media screen and (max-width: 575px) {
  .spacer-75 {
    height: 30px;
    width: 100%;
  }

  .pie-chart {
    margin-bottom: 45px !important;
  }

  p {
    line-height: 1.6rem;
  }

  header {
    top: 25px;
    right: 21px;
  }

  .timeline .timeline-item {
    padding: 0 22px;
  }

  .timeline .timeline-item:first-child {
    padding-top: 40px;
  }
  .spacer-120 {
    height: 60px;
  }

  footer .social li {
    margin-left: 0px;
  }

  .contact-info .info-title {
    margin-bottom: 0px;
  }

  .contact-info {
    margin-bottom: 30px;
  }

  .work-carousel .swiper-horizontal > .swiper-pagination-bullets,
  .work-carousel .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    margin-top: 30px;
  }

  .categories ul li {
    line-height: 27px;
  }

  .lightbox-gallery .image {
    margin-bottom: 30px;
  }

  h1.hero-big {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 500;
  }

  h1 {
    font-size: 1.8rem;
    line-height: 65px;
    font-weight: 600;
  }

  h2 {
    font-size: 1.6rem;
    line-height: 50px;
    font-weight: 600;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 36px;
    font-weight: 600;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 31px;
    font-weight: 600;
  }

  h5 {
    font-size: 1rem;
    line-height: 35px;
    font-weight: 600;
  }

  h6 {
    font-size: 0.7rem;
    line-height: 2rem;
    margin: 0;
    font-weight: 600;
  }

  .categories ul li.client {
    margin-bottom: 5px;
  }

  .work_info .work_description .title {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .work_info .work_description .text {
    color: rgba(255, 255, 255, 0.61);
    font-size: 16px;
    line-height: 26px;
  }

  .single-blog .blog-date {
    float: none;
  }

  .single-blog .single-post-metas .blog-date:after {
    display: none;
  }

  header nav li {
    line-height: 2.5rem;
  }
}
